
body {
  background-color : #b6b6ac ;
  font-size: 25px;
  margin:10px;
  font: 400 20px/1.8 "Lato", sans-serif;
}

#connect{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;   
    font-size: 18px;
    padding-bottom: 1%;
}

ul {
  list-style-type: none; /*la puce ne sera pas affiché none*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383938;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #B27F84;
}


body,html {
  height: 100%;
  font: 400 20px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-3b {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  background-image: url(../image/imacout2.jpg);
  min-height: 100%;
}

.bgimg-2 {
  background-image: url(../image/imadeco2.jpg);
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(../image/imacosm2.jpg);
  min-height: 400px;
}

.bgimg-3b {
  background-image: url(../image/anemone.jpg);
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgb(83, 81, 81);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; /*augmente l'espace entre les caractères, word-spacing entre les mots*/
}

.border a{
  outline: none;
  text-decoration: none;
  color: white;
}
.border a:hover{
  color: rgb(245, 70, 102);
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* FOOTER */
.coordonnee {
  background-color: #383938;
  width: 100%;
  height: 200hv;
  font-size: 15px;
  text-align: center;
  color: white;
}
