body {
    background-image: url(../image/imaacc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: 400 20px/1.8 "Lato", sans-serif;
  }

  #connect{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-size: 18px;
    padding-bottom: 1%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383938;
    font-size: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: black;
  }

  .active {
  background-color: #DED6BF
  ;
  color: white;
}

#titre{
    text-align: center;
    font-style: oblique;
    background-color: #8CAAC4;
    color: rgb(45, 43, 44);
    height: 200px;
    width:  550px;
    border-radius: 12px;
    margin: 40px;
    margin-left: 50%;
    padding-bottom: 30px;
    border: solid;
    font-size: 25px;
    }

    /* FOOTER */
.coordonnee {
  background-color: #383938;
  width: 100%;
  height: 200hv;
  font-size: 15px;
  text-align: center;
  color: white;
}