body {
    background-image: url(../image/fondblanc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
#titre{
    text-align: center;
    font-style: oblique;
    background-color: rgb(231, 130, 155);
    color: rgb(45, 43, 44);
    height: 80px;
    width:  550px;
    border-radius: 12px;
    margin: 40px;
    margin-left: 50%;
    padding-bottom: 30px;
    border: solid;
    font-size: 25px;
    }