body {
  font: 400 1.5vw/1.8 "Lato", sans-serif;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #383938; */
    font-size: 1.5vw;
  }
  
  li {
    float: left;

  }
  
  li a {
    display: inline-block;
    color: black;
    text-align:start;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(137, 104, 60);
  }
  .active {
  color: rgb(137, 104, 60);
}


/* A REFAIRE ENLEVER ENCCARDER LIEN */
/* .seconnecter a:hover {
  text-decoration: none;
} */


#titre{
    position: relative;
    top: 5vw;
    left: 20vw;
    text-align: center;
    font-style: oblique;
    color: rgb(45, 43, 44);
    font-size: 2vw;
    }


/* FOOTER */

#coordonnée {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eef0ee;
  bottom: 2vw; /*coller à pdp2*/
  width: 100%;
  font-size: 1.2vw;
  text-align: justify;
  color: rgb(48, 47, 47);
}
.titcon p a{
  text-decoration: none;
  color: black;
}
.titcon p a:hover{
  text-decoration: underline;
  color: black;
}

.pdp2 {
  position:absolute;
  background-color: #383938;
  color: white;
  font-size: 1.1vw;
  text-align: center;
  bottom:0;  /* on le colle en bas */
  width:100%;
  height:2vw;   /* Hauteur du pied de page */
}
.ital{
  font-style: italic;
}