body {
    background-image: url(../image/fondbleufo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
#titre{
    text-align: center;
    font-style: oblique;
    background-color: #818889;
    color: rgb(34, 53, 82);
    height: 80px;
    width:  550px;
    border-radius: 12px;
    margin: 40px;
    margin-left: 50%;
    padding-bottom: 30px;
    border: solid;
    font-size: 25px;
    }