body {
      font: 400 1.5vw/1.8 "Lato", sans-serif;
  }

  /* fond ecran responsive */
  #fondecran {
    /* Fixe l'image en haut à gauche de 8vw de la page */
    position: fixed; 
    top: 8vw; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
  }

/* Barre de menu */
  ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #383938; */
    font-size: 1.5vw;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
  }
  
  li a:hover {
    color: #2F6D52;
  }

  .active {
  color: #2F6D52;
}
.seconnecter{
  margin-left: 10vw;
}

#titre{
  position: relative;
  top: 5vw;
  left: 20vw;
  text-align: center;
  font-style: oblique;
  color: rgb(45, 43, 44);
  font-size: 2vw;
    }

    /* FOOTER */
.coordonnee {
  position:absolute;
  background-color: #383938;
  color: white;
  font-size: 1.4vw;
  text-align: center;
  bottom:0;  /* on le colle en bas */
  width:100%;
  height:3vw;   /* Hauteur du pied de page */
}