body {
  font: 400 20px/1.8 "Lato", sans-serif;
  background-image: url(../image/imacosm3.jpg), url(../image/fonddec.jpg);
  background-repeat: no-repeat, repeat;
  background-size:contain;
}
#connect{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  font-size: 18px;
  padding-bottom: 1%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383938;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

/* menu vertical */
.vertical-menu {
  width: 738px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  margin-left: 417px;
  padding: 2px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.active {
  background-color: #E5C379;
  color: white;
}

/* lien du menu déroulant smooth scroll*/
#section1, #section2, #section3, #section4{
  height: 600px;
}

#titre{
  font-style: oblique;
  margin-bottom: 16%;
  margin-top: 14%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: antiquewhite;
  width: 900px;
  position: relative;
  animation: mymove 1s;
  animation-timing-function: linear;
}
@keyframes mymove {
  0% {left: -700px;}
  100% {left: 5px;}
}
  
  h1{
    font-size: 50px;
    font-weight: bolder;
    padding-left: 20px;
    }
  p{
    font-size: larger;
    margin: 0 40px 20px 40px;
  }
  
  
  #image{
    display: flex;
    flex-direction: row; 
    justify-content:space-around; 
}

h2{
  font-size: 35px; 
  color: antiquewhite;
  background-color: #383938;
  padding-left: 30px;
}
img{
  border-radius: 8px
}

/* FOOTER */
.coordonnee {
  background-color: #383938;
  width: 100%;
  height: 200hv;
  font-size: 15px;
  text-align: center;
  color: white;
}