body{
  font: 400 1.5vw/1.8 "Lato", sans-serif;
  background-image: url(../image/fondeco1.jpg), url(../image/fonddec.jpg);
  background-repeat: no-repeat, repeat;
  background-size: contain;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #383938; */
    font-size: 1.5vw;
  }  
  li {
    float: left;
  } 

  li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
  }
  li a:hover {
    color: #6D93A7;
  }
  
  .dropbtn {
    display: inline-block;
    color: #6D93A7;
    text-align: center;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
  }
  
  li a:hover .dropdown:hover .dropbtn{
    background-color: white;
    color: black;
  }
  li.dropdown {
    display: inline-block;
    /* background-color: #D1D79E; */
    color: #6D93A7;
  }
  li.dropdown>a::after{
    content: " ▼ ";
    font-size: 1.2vw;
  
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 0.7vw 0.7vw;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #dfdddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .seconnecter{
    margin-left: 10vw;
  }
    
#section1, #section2, #section3, #section4{
  height: 42vw;
}

#titre{
  font-style: oblique;
  margin-bottom: 16%;
  margin-top: 14%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: antiquewhite;
  width: 60vw;
  position: relative;
  animation: mymove 1s; /* TITRE qui arrive de droite*/
  animation-timing-function: linear;
}
@keyframes mymove {
  0% {left: -50vw;}
  100% {left: 0.2vw;}
}

h1{
  font-size: 4vw;
  font-weight: bolder;
  padding-left: 1.8vw;
  }

p{
  font-size: larger;
  margin: 0vw 3vw 1.7vw 3vw;
}


#image{
    display: flex;
    flex-direction: row; 
    justify-content:space-around; 
}

h2{
  font-size: 2.2vw; 
  color: antiquewhite;
  background-color: #383938;
  padding-left: 2vw;
}
img{
  border-radius: 0.9vw;
}

/*défilé d'images de couronnes*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #1b1b1b;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0e0e0e;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* ZOOM jardiniere */
* {
  box-sizing: border-box;
}

#im2{
    transition: transform .2s;
    width: 200px;
    height: 200px;
  }
  
  #im2:hover {
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7); 
  }
  
  /* FOOTER */
.coordonnee {
  background-color: #383938;
  width: 100%;
  height: 5vh;
  font-size: 1.4vw;
  text-align: center;
  color: white;
}

