body{
    font: 400 20px/1.8 "Lato", sans-serif;
    background-color: rgb(213, 246, 172);
    }
#connect{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        font-size: 18px;
        padding-bottom: 1%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #383938;
        font-size: 20px;
    }  
    li {
        float: left;
    } 

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: white;
        color: black;
    }

.active {
    background-color: #1f7424;
    color: white;
    }

#titre{
    font-style: oblique;
    width: 350px;
    margin-left: 10%;
    margin-bottom: 16%;
    margin-top: 28%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: antiquewhite;
    position: absolute;
}

#photo {
    width: auto;
    height: 500px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 2%;
}

@keyframes example {
    0%   {background-image: url(../image/pivoine.JPG);
        background-size: cover;}
    25%  {background-image: url(../image/hepatique.jpg);
        background-size: cover;}
    50%  {background-image: url(../image/doronic.jpg);
        background-size: cover;}
    100% {background-image: url(../image/anemone.jpg);
        background-size: cover;}
}

h1{
    font-size: 50px;
    font-weight: bolder;
    padding-left: 20px;
}